{% extends "../layout.html.twig" %}

{% block title %}Item details{% endblock %}
{% block stylesheet %}{% endblock %}
    

{% block content %}
<main>  
    <h1>Item {{ item.title }}</h1>  
    <ul>  
        <li>Id : {{ item.id }}</li> 
    </ul>  
    <a href='index.php?route=items'>Back to list</a>
</main>  
{% endblock %}