{% extends 'layout.html.twig' %}

{% block title %} Ajouter une catégorie {% endblock %}

{% block content %}
    <h1>Ajouter un nouvelle catégorie</h1>
    {% include 'Category/_form.html.twig' %}
{% endblock %}